@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdu3cOWxw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7lujVj9w.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdu3cOWxw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZZMkids18S0xR41.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

body {
  font-family: "Source Sans Pro" !important;
}

pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  color: #d0d0d0;
  background-color: #222629;
  border-radius: 3px;
  word-wrap: normal;
  border-radius: 0.5em;
}

header {
  margin: 0 2em 0 0;
}

/** Card */

.cards {
  max-width: 100%;
  grid-template-columns: repeat(1, 1fr);
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 5% 10% 5% 10%;
  max-width: 90vw;
  min-width: 50%;
  background-color: white;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card h1 {
  font-size: 2em;
  font-weight: 300;
}

.card h2 {
  font-size: 1.4em;
  color: #666;
  font-weight: 300;
}

.card h3 {
  font-size: 1.1em;
  color: #404040;
  font-weight: 300;
}

.card .preview {
  width: 100%;
  height: auto;
}

.card h1 a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;
}

.card h1 a:hover {
  color: purple;
}

.card p {
  font-weight: 300;
  text-align: justify;
  font-size: 1.2em;
}

/** Read more */

.read-more {
  text-align: center;
  padding-top: 0.5em;
}

.read-more a {
  text-decoration: none;
  color: #1145ac;
  transition: 0.5s;
}

.read-more a:hover {
  color: purple;
}

/** Headers */

h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Sans Pro";
  font-weight: 300;
}

/** Parallax */

.parallax {
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-parallax {
  font-family: "Source Sans Pro" !important;
  background-image: url("../assets/images/hero-bg.jpg");
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax-card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5em;
  color: black;
  text-align: center;
  position: relative;
  margin: auto;
  width: 50%;
  height: 50%;
  padding: 5%;
  overflow-y: auto;
}

.parallax-card a {
  color: dodgerblue;
  text-decoration: none;
}

.parallax-card a:hover {
  color: purple;
}

.parallax-card h1,
h2,
p {
  font-family: "Source Sans Pro" !important;
  font-weight: 300;
}

.parallax-card p {
  font-size: 1.2em;
  text-align: center;
}

.avatar {
  width: 20%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 50%;
}

/** Pages */

section.page {
  width: 100%;
  height: auto;
  border-top: 1px solid #aaa;
  display: inline-block;
  padding-bottom: 2em;
}

section.page hr {
  margin: 1em 0 1em 0;
}

.container {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.container header a {
  color: inherit;
  text-decoration: none;
  border-bottom: dotted 1px #80808080;
  cursor: text;
}

.container header a i {
  color: #606060;
}

#projects {
  background-color: #fff;
}

#work-experience {
  background-color: #eee;
}

#contacts {
  background-color: #303030;
  color: white;
}

#contacts i {
  color: white;
}

/** Footer */

footer {
  text-align: center;
  padding: 1em 0 2em 0;
}

footer .contacts {
  list-style: none;
  cursor: default;
  margin-block-start: 0;
  padding-inline-start: 0;
}

footer .contacts li {
  display: inline-block;
}

footer .contacts a {
  font-size: 3em;
  color: #fff;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border: 0;
  text-decoration: none;
}

footer .contacts a i {
  transition: all 0.3s ease-in;
}

footer .contacts li:nth-child(1) a:hover i {
  color: #dd3838 !important;
}

footer .contacts li:nth-child(2) a:hover i {
  color: #f0cf14 !important;
}

footer .contacts li:nth-child(3) a:hover i {
  color: #3ddd38 !important;
}

footer .contacts li:nth-child(4) a:hover i {
  color: #9b38dd !important;
}

footer p.copyright {
  text-align: center;
  font-weight: 300;
  color: #ccc;
}

/** Menu */

#menu {
  margin-left: -20vw; /* "#menu" width */
  width: 20vw;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000; /* so the menu or its navicon stays above all content */
  background: #202020;
  overflow-y: auto;
}
/*
  All anchors inside the menu should be styled like this.
  */
#menu a {
  color: #999;
  border: none;
  padding: 0.6em 0 0.6em 0.6em;
  font-size: 1.4em;
}

/*
  Remove all background/borders, since we are applying them to #menu.
  */
#menu .pure-menu,
#menu .pure-menu ul {
  border: none;
  background: transparent;
}

/*
  Add that light border to separate items into groups.
  */
#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
  border-top: 1px solid #202020;
}

#menu .pure-menu i {
  margin-right: 1ch;
}

/*
      Change color of the anchor links on hover/focus.
      */
#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
  background: #1a1a1a;
}

/*
  This styles the selected menu item `<li>`.
  */
#menu .pure-menu-selected {
  background: #1a1a1a;
}

#menu .pure-menu-selected i {
  color: #da4e3c;
}

/*
      This styles a link within a selected menu item `<li>`.
      */
#menu .pure-menu-selected a {
  color: #fff;
  font-weight: 500;
}

/*
  This styles the menu heading.
  */
#menu .pure-menu-heading {
  color: #fff;
  margin: 0;
  font-family: "Source Sans Pro" !important;
  margin: 10% 5% 10% 5%;
  position: relative;
}

#menu .pure-menu-heading .avatar {
  width: 30%;
  border-radius: 0.5em;
}

#menu .pure-menu-heading h1 {
  font-size: 1.4em;
  text-transform: none;
}

#menu .pure-menu-heading h2 {
  font-size: 1.1em;
  text-transform: none;
  color: #808080;
}

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
  position: fixed;
  display: block; /* show this only on small screens */
  top: 0;
  left: 0; /* "#menu width" */
  background: #202020;
  background: rgba(0, 0, 0, 0.7);
  font-size: 10px; /* change this value to increase/decrease button size */
  z-index: 10;
  width: 2em;
  height: auto;
  padding: 2.1em 1.6em;
}

.menu-link:hover,
.menu-link:focus {
  background: #202020;
}

.menu-link span {
  position: relative;
  display: block;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
  background-color: #fff;
  pointer-events: none;
  width: 100%;
  height: 0.2em;
}

.menu-link span:before,
.menu-link span:after {
  position: absolute;
  margin-top: -0.6em;
  content: " ";
}

.menu-link span:after {
  margin-top: 0.6em;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

#main,
#menu,
.menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#main {
  position: relative;
  left: 0;
  padding-left: 0;
}
#main.active #menu {
  left: 20vw;
  width: 20vw;
}

#main.active .menu-link {
  left: 20vw;
}

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {
  .header,
  .content {
    padding-left: 2em;
    padding-right: 2em;
  }

  #main {
    padding-left: 20vw; /* left col width "#menu" */
    left: 0;
  }
  #menu {
    left: 20vw;
  }

  .menu-link {
    position: fixed;
    left: 20vw;
    display: none;
  }

  #main.active .menu-link {
    left: 20vw;
  }
}

@media (max-width: 48em) {
  /* Only apply this when the window is small. Otherwise, the following
  case results in extra padding on the left:
      * Make the window small.
      * Tap the menu to trigger the active state.
      * Make the window large again.
  */
  #main.active {
    position: relative;
    left: 20vw;
  }
}
